.navbar .logo {
  max-width: 140px;
}

.navbar ul li a {
  text-transform: uppercase;
  font-weight: bold;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

.flex-container .card {
  margin: 8px;
  width: 100%;
}

/* 001 pretty in card container for mobile view spacing */
.flex-container .card:first-of-type {
  margin-top: 0 !important;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }

  /* revert 001 */
  .flex-container .card:first-of-type {
    margin-top: 8px !important;
  }
}

.featurette-divider {
  margin: 24px !important;
}

@media (min-width: 768px) {
  .featurette-divider {
    margin: 5rem 0;
  }
}
