*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body.noScroll {
  overflow: hidden;
}

.navbar {
  padding: 16px;
}

.navbar .logo {
  max-width: 140px;
}

.navbar ul li a {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}

.navbar ul li.active a {
  color: #469408 !important;
  font-weight: bold;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

#card-container {
  align-items: flex-start;
}

.flex-container .card {
  width: 100%;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .flex-container .card {
    margin: 8px;
    width: 350px;
  }
}

main .jumbotron {
  background-color: #469408;
  border-top: 2px solid #377506;
  border-radius: 0;
  color: white;
}

main .jumbotron .text-muted {
  color: white !important;
  max-width: 575px;
  margin: 16px auto;
}

.fa-chevron-down {
  margin-left: 6px;
}

hr.white {
  background: white;
}

hr.section-divider {
  margin: 36px 0;
}

.left {
  text-align: left;
  margin: auto 0;
}

.btn-success {
  color: white !important;
}

.inner-small {
  max-width: 768px;
}

main .mini-info {
  margin-top: 0;
  text-align: right !important;
  max-width: 400px;
  margin-left: auto;
}

main .mini-info a {
  color: white;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
}

.button-container .btn {
  margin: 4px;
}

#modal {
  display: none;
  z-index: 9;
  position: relative;
}

#modal.shown {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: RGBA(94, 204, 98, 0.9);
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}

#modal .inner-small {
  background: #5ecc62;
  height: 100%;

  position: relative;
}

#modal #close-btn {
  position: absolute;
  background: none;
  right: 0;
  border: none;
  font-size: 250%;
  padding: 16px 24px;
  color: white;
  font-weight: 100;
}

#modal .main-img {
  width: 100%;
}

#modal .modal-body {
  color: white;
  background: #5ecc62;
}

.hook,
#modal .modal-body h3 {
  font-weight: 300 !important;
}

.hook {
  line-height: 2.5rem;
}

.line {
  font-size: 90%;
}

@media (min-width: 1600px) {
  #modal.shown {
    left: 20%;
    right: 20%;
  }
}
