*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: #2a9742;
}

html {
  scroll-behavior: smooth;
}

body.noScroll {
  overflow: hidden;
}

#js-form-response {
  font-weight: bold;
  margin: 8px auto;
}

.success {
  color: #469408;
}

.error {
  color: #ff0000;
}

.navbar {
  padding: 16px;
}

.navbar .logo {
  max-width: 140px;
}

.navbar ul li a {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}

.navbar ul li.active a {
  color: #469408 !important;
  font-weight: bold;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px;
}

#card-container {
  align-items: flex-start;
}

.flex-container .card {
  width: 100%;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .flex-container .card {
    margin: 8px;
    width: 350px;
  }
}

main .jumbotron {
  background: url("../static/bg.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-top: 4px solid #2a9742;
  border-radius: 0;
  color: white;
}

main .jumbotron .text-muted {
  color: white !important;
  max-width: 575px;
  margin: 16px auto;
}

.fa-chevron-down {
  margin-left: 6px;
}

hr.white {
  background: white;
}

hr.section-divider {
  margin: 36px 0;
}

.left {
  text-align: left;
  margin: auto 0;
}

.btn-success {
  color: white !important;
}

.inner-small {
  max-width: 768px;
}

main .mini-info {
  margin-top: 0;
  text-align: right !important;
  max-width: 400px;
  margin-left: auto;
}

main .mini-info a {
  color: white;
  font-weight: bold;
}

footer {
  border-top: 4px solid #2a9742;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.featured {
  position: relative;
  border: 5px solid #2a9742;
}

.featured .btn {
  border: 2px solid #2a9742;
}

.featured span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 4px 8px;
  background: #2a9742;
  color: white;
  font-size: 120%;
  font-weight: 500;
  border-bottom-left-radius: 4px;
}

@media (min-width: 768px) {
  .featured span {
    font-size: 200%;
  }
}

.button-container .btn {
  margin: 4px;
}

#modal {
  display: none;
  z-index: 9;
  position: relative;
}

#modal.shown {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
}

#modal.shown,
#modal .inner,
#modal .modal-body {
  background: RGBA(255, 255, 255, 0.77);
}

#modal .inner {
  height: 100%;
  padding: 16px;
  max-width: 1024px;
  margin: 0 auto;

  position: relative;
}

#modal .modal-title {
  position: fixed;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: whitesmoke;
  border-bottom: 4px solid slategray;
  z-index: 9;
  width: 100%;
  max-width: inherit;
}

#modal .modal-body {
  padding: 0;
}

#modal .modal-body .modal-body__text {
  padding: 16px;
}

#modal .modal-title h1 {
  font-size: 1.5rem;
  margin-left: 16px;
  margin-bottom: 0;
}

#modal .modal-title #close-btn {
  background: none;
  margin-left: auto;
  padding-right: 16px;
  border: none;
  font-size: 200%;
  color: darkslategrey;
  font-weight: 100;
}

#modal .main-img {
  width: 100%;
}

.hook,
#modal .modal-body h3 {
  font-weight: 300 !important;
}

.hook {
  line-height: 2.5rem;
}

.line {
  font-size: 90%;
}

@media (min-width: 1600px) {
  #modal.shown {
    left: 20%;
    right: 20%;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 50px;
  height: 50px;
}

.carousel-control-next,
.carousel-control-prev {
  padding-top: 60px;
}
