#team {
  text-align: center;
}

#team-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

#team-container .team-member {
  max-width: 500px;
  margin: 24px;
}

#team-container .team-member img {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 16px;
}

#team-container .team-member p {
  text-align: justify;
}

section:not(:first-of-type) {
  padding: 32px 8px;
}

.form-container {
  background: #2a9742;
  color: white;
}

form {
  margin: 0 auto;
  max-width: 768px;
}

form .form-group {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
}

form label {
  margin-bottom: 4px;
  font-weight: 300;
}

h2 {
  margin-bottom: 8px;
  text-align: center;
}
