.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 0;
  border-top: 4px solid #2a9742;

  max-width: 1600px;

  background-color: whitesmoke;
}

.container-fluid .flex-item {
  width: 100%;
  padding: 8px;
  margin: 4px;
  min-height: 36vh;

  display: flex;

  align-items: flex-end;
  justify-content: flex-start;
}

.container-fluid .flex-item .inner {
  max-width: 400px;
}

@media (min-width: 768px) {
  .container-fluid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-fluid .flex-item {
    width: 48%;
    max-height: 250px;
  }
}

@media (min-width: 768px) {
  .container-fluid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-fluid .flex-item {
    width: 48%;
    max-height: 250px;
  }
}

.green-bg {
  background: url("../../static/home-images/green.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.completed {
  border: 4px solid #2a9742;
  position: relative;
}

.completed span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 4px 8px;
  background: #2a9742;
  color: white;
  font-size: 120%;
  font-weight: 100;
  border-bottom-left-radius: 4px;
}

.ocean-bg {
  background: url("../../static/home-images/ocean.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.solar-bg {
  background: url("../../static/home-images/solar.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.community-bg {
  background: url("../../static/home-images/community.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner {
  background: rgba(255, 255, 255, 0.77);
  border-radius: 2px;
  color: black;
  padding: 8px;
}

.inner .hook {
  margin-bottom: 0;
}
