.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  max-width: 1600px;
}

.container-fluid .flex-item {
  width: 100%;
  padding: 8px;
  margin: 4px;
  min-height: 36vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid .flex-item .inner {
  max-width: 400px;
}

@media (min-width: 768px) {
  .container-fluid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-fluid .flex-item {
    width: 48%;
    max-height: 250px;

    align-items: flex-end;
    justify-content: flex-start;
  }
}

.home-bg-one {
  background: url("../../static//properties/solar.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-bg-two {
  background: url("../../static//properties/ocean.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-bg-three {
  background: url("../../static//properties/tesla.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-bg-four {
  background: url("../../static//properties/green.jpg");

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner {
  background: rgba(255, 255, 255, 0.66);
  border-radius: 2px;
  color: black;
  padding: 8px 16px;
}

.inner .hook {
  margin-bottom: 0;
}

.inner .btn {
  color: white !important;
}
