.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-fluid .flex-item {
  width: 100%;
  padding: 16px;
}

@media (min-width: 768px) {
  .container-fluid {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-fluid .flex-item {
    width: 50%;
  }
}
